.booking-information h3 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px 0px 0px 5%; 
}

.info {
    margin: 28px 5%; 
    background-color: #F0F0F0;
    width: 90%; 
    max-width: 1266px;
    height: auto; 
    flex-shrink: 0;
    border-radius: 10px;
    background: #F0F0F0;

    p {
        padding: 20px;
        margin: 20px;
    }
}

.baner {
    width: 100%; 
    max-width: 1266px;
    height: 110px;
    background-color: #486349;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;

    p {
        padding: 40px 0px 0px 5%;
    }
}

.booking-container {
    display: flex;
    flex-direction: row; 
    padding: 60px; 
}

.line {
    width: 90%; 
    max-width: 1156px;
    height: 1px;
    margin: 20px auto; 
}

.btn-btn-confirm {
    display: flex;
    width: 287px;
    height: 52px;
    padding: 11px 50px 10px 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D8C690;
    text-align: center;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 50px 20px 600px;
    border: none;
}
.checkbox{
    margin-left: 60px;
    input{
        height: 20px;
        width: 30px;
    }
}

@media only screen and (max-width: 390px) {
    .booking-information{
        margin-right: 20px;

    }
    .booking-container {
        flex-direction: row; 
        padding: 5px;
    }
    .general-text{

        p{
            font-size: 8px;
        }
    }
    .baner {
        width: 100%; 
        height: 35px;
        background-color: #486349;
        border-radius: 5px 5px 5px 5px;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 10px;
    
        p {
            padding: 50px 0px 0px 5%;
        }
    }
    .booking-information h3 {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px 0px 0px  

    }
    .booking-info{
        padding: 10px;
        p{
            margin: 0px;
        }
    }
    .info {
        margin: 0px 8%;

        p{
            padding: 10px;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 390px) {
    .btn-btn-confirm {
        display: flex;
        width: 108px;
        height: 35px;
        padding: 11px 8px 9px 5px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 15px;
        background: #D8C690;
        text-align: center;
        font-family: Lora;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 10px 0px 10px 140px;
        border: none;
    }
    
}
    
