.footer-style {
  background: rgb(39, 39, 71);
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .conect-icon {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .conetcIcon {
    fill: #CBB26A;
    width: 40px;
    height: 40px;
  }
  
  .conect-text {
    margin-top: 20px;
  }
  
  .contactUs {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-one-footer {
    text-align: center;
    margin-top: 30px;
  }
  
  .rectangel {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .rectangel p {
    background-color: #333;
    padding: 10px;
    color: #CBB26A;
  }
  
  .logo {
    margin-top: 20px;
    width: 100px;
  }
  
  .footer-text {
    margin-top: 20px;
  }
  
  .social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialIcon {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
  }
  
  .Icon {
    width: 40px;
    height: 40px;
    fill: #CBB26A;
  }
  
  .followText {
    font-size: 24px;
    margin-bottom: 10px;
  }
  