
.footer-style {
    display: flex;
    justify-content: space-evenly;
    width: 1440px;
    height: 489px;
    border-top: 1px solid #E5E5E5;
    background: #486349;
}

.followText {
    color: #FFF;
    font-family: Libre Baskerville;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 69px;
}

.rectangel {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    background-color: #E5E5E5;
    width: 549px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-left: 114px;
}

.Subscribe {
    color: rgba(0, 0, 0, 0.80);
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
}

.space {
    font-size: 50px;
    font-weight: bold;
    padding-left: 180px;
}

.email {
    padding-top: 20px;
    padding-left: 60px;
}

.conect-icon {
    display: flex;
    flex-direction: column;
    padding: 30px;
    list-style: none;
}

.conetcIcon {
    margin-top: 105px;
}

.contactUs {
    color: #FFF;
    font-family: Libre Baskerville;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.27px;
    margin-top: 69px;
}

.conect-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    font-family: Lora;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.225px;
    margin-top: -40px;
}

.contact {
    display: flex;
}

.logoName {
    color: #CBB26A;
    font-family: Lora;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.225px;
}

.logo {
    width: 350px;
    margin-left: 150px;
    margin-top: 0px;
}

.footer-text {
    color: #CBB26A;
    font-family: Lora;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.225px;
    margin-left: 160px;
    margin-top: 30px;
}


.socialIcon {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.social-part-text {
    color: #FFF;
    font-family: Libre Baskerville;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.27px;
    margin: 73px 55px 20px 55px;
}

.Icon {
    margin-right: 40px;
}