.review-text {
    color: #000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 130px 369px 58px 371px;
}

.review {
    display: flex;
    justify-content: space-around;
    margin: 0px 166px 164px 169px;
}

.Img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 12px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.review-estimonial {
    width: 300px;
    height: 330px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px 0px 20px;
}

.star-style {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 4px;
}

.review-name {
    color: #000;
    text-align: center;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.24px;
    padding-top: 10px;
}

.text-review {
    color: #000;
    text-align: center;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.24px;
}

.re-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

@media (max-width: 390px) {
    .star-style {
        display: flex;
        justify-content: center;
        padding-top: 1px;
        margin-top: 10px;
    }
    .review {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 64px 49px;
    }
    .review-text {
        color: #000;
        text-align: center;
        font-family: Libre Baskerville;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 30px 0px 58px 10px;
    }
    .text-review {
        color: #000;
        text-align: center;
        font-family: Lora;
        font-size: 14px;
        font-style: normal;
        font-weight: 0;
        line-height: 24px;
        letter-spacing: -0.24px;
        margin-top: 20px;
        padding: 15px;
    }
    .review-estimonial {
        width: 300px;
        height: 327px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FCFCFC;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0px 0px 0px 0px;
        margin: 5px;
    }
}