.package-text {
    padding: 15px 19px 17px 19px;
    color: #000;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #000;
    text-align: center;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.packages-h1 {
    color: #000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 79px;
}

.home-card {
    display: flex;
    justify-content: space-around;
    margin: 79px 166px 128px 169px;
}

.package-card {
    margin: 0px 40px 50px 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 330px;
    height: 526px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FCFCFC;
}

.package-card img {
    max-width: 100%;
    width: 330px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
}

.Rectangle {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1105px;
    height: 201px;
    flex-shrink: 0;
    margin: 20px 169px 30px 166px;
}

.Info-Card {
    display: flex;
    width: 298px;
    height: 137px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.info-text {
    color: #000;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 27px 10px 3px 16px;


}

.info-text2 {
    color: #000;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 10px 0px 16px;
}

@media (max-width: 390px) {

    .home-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 330px;
        // justify-content: space-around;
        // margin: 79px 166px 128px 169px;

    }

    .Rectangle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background: #FCFCFC;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 330px;
        height: 563px;
        flex-shrink: 0;
        // margin: 20px 169px 30px 166px;
    }

    .packages-h1 {
        color: #000000;
        text-align: center;
        font-family: Libre Baskerville;
        // font-size: 32px;
        font-size: 13px;
        font-style: normal;
        // font-weight: 700;
        // line-height: normal;
        // text-align: center;
        // margin: 79px;

    }

    .package-card {
        // margin: 0px 40px 50px 40px;
        
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 330px;
        height: 526px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FCFCFC;
    }
}