.slider {
    position: relative;
    text-align: center;
}

.slide {
    display: inline-block;
    position: relative;
}

.slide img {
    display: block;
    margin: 0 auto;
    width: 1105px;
    height: 453px;
}

.next-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0px 0px 190px 520px;
    transform: translateX(-50%);
    border: none;
}

.before-button {
    position: absolute;
    bottom: 10px;
    right: 95%;
    margin: 0px 0px 190px 40px;
}

.slide-text {
    color: #000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 119px 550px 64px 530px;
}

@media (max-width: 390px) {
  
    .next-button {
        // position: absolute;
        // bottom: 10px;
        background-color: aqua;
        // left: 50%;
        // margin: 0px 0px 190px 520px;
        // transform: translateX(-50%);
        border: none;
    }

    .before-button {
        position: absolute;
        // bottom: 10px;
        // background-color: aqua;
        // right: 95%;
        // margin: 0px 0px 190px 40px;
    }

    .slide-text {
        color: #000;
        text-align: center;
        font-family: Libre Baskerville;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        // margin: 119px 550px 64px 530px;
    }

}