.slider {
    position: relative;
    text-align: center;
    max-width: 100%;
    margin: 0 auto; /* Centrera slidern */
}

.slide {
    display: inline-block;
    position: relative;
    overflow: hidden; /* Säkerställer att inga delar av bilden hamnar utanför */
    width: 100%;
    max-width: 800px; /* Maxbredd för att undvika att bilder blir för stora */
    margin: 0 auto; /* Centrera bilden */
}

.slide img {
    display: block;
    width: 100%; /* Gör bilden responsiv */
    height: auto; /* Gör att höjden ändras proportionellt med bredden */
}

.next-button, .before-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Vertikal centrering av knapparna */
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/* Justera avståndet för knapparna */
.next-button {
    right: 20px; /* Avstånd från högra kanten */
}

.before-button {
    left: 20px; /* Avstånd från vänstra kanten */
}

.slide-text {
    color: #000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Media Queries för responsiv design */
@media (max-width: 768px) {
    .slide-text {
        font-size: 24px;
    }
    
    .next-button, .before-button {
        width: 40px;
        height: 40px;
    }

    .next-button svg, .before-button svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 576px) {
    .slide-text {
        font-size: 20px;
    }

    .slide img {
        width: 100%; /* Justering för mindre skärmar */
        height: auto;
    }

    .next-button, .before-button {
        width: 30px;
        height: 30px;
    }

    .next-button svg, .before-button svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 390px) {
    .slide-text {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .next-button {
        right: 10px; /* Avstånd från kanten justeras för små skärmar */
    }

    .before-button {
        left: 10px; /* Avstånd från kanten justeras för små skärmar */
    }
}
