.card {
  width: 100%;
  height: 529px;
  background: url(../assets/Navbar.jpeg), lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
}

.h1 {
  color: #FFF;
  font-family: 'Libre Baskerville', serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  margin: 20px 0;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1F1F1;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin: 14px;
  padding: 6px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-text {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.date {
  color: #A0A0A0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.dataPicker{
    padding: 6px;
}

.navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navlink-links {
  display: flex;
  align-items: center;
}

.navlink-btn {
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

.navlink-btn li {
  background-color: #090909;
  padding: 4px;
}

.home-nav-search {
  background-color: #CBB26A;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  cursor: pointer;
}

@media (max-width: 390px) {
  .card {
    height: auto;
  }

  .hero {
    flex-direction: column;
    padding: 20px;
  }

  .hero-container {
    margin: 10px 0;
  }

  .home-nav-search {
    width: 100%;
  }
}
