@charset "UTF-8";
.homeIconPakages {
  display: flex;
  list-style: none;
  padding: 15px;
}
.homeIconPakages li {
  margin: 5px;
}

.package-text {
  padding: 15px 19px 17px 19px;
  color: #000;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.packages-h1 {
  color: #000;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 79px;
}

.home-card {
  display: flex;
  justify-content: space-around;
  margin: 79px 166px 128px 169px;
}

.package-card {
  margin: 0px 40px 50px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 330px;
  height: 526px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FCFCFC;
}

.package-card img {
  max-width: 100%;
  width: 330px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}

.Rectangle {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #FCFCFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 1105px;
  height: 201px;
  flex-shrink: 0;
  margin: 20px 169px 30px 166px;
}

.Info-Card {
  display: flex;
  width: 298px;
  height: 137px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.info-text {
  color: #000;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 27px 10px 3px 16px;
}

.info-text2 {
  color: #000;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 10px 0px 16px;
}

@media (max-width: 390px) {
  .home-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Rectangle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background: #FCFCFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 330px;
    height: 563px;
    flex-shrink: 0;
  }
  .packages-h1 {
    color: #000000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 13px;
    font-style: normal;
  }
  .package-card {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 330px;
    height: 526px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FCFCFC;
  }
}
* {
  margin: 0;
  padding: 0;
}

.Navbar-img {
  width: 1440px;
  height: 529px;
}

.background-img {
  width: 400px;
  height: 500px;
}

.card {
  width: 1440px;
  height: 529px;
  background: url(../assets/NavbarImg.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  background-position: center;
  height: 529px;
}

.h1 {
  color: #FFF;
  font-family: Libre Baskerville;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4px;
  padding-left: 768px;
  margin: 10px;
}

.hero {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.navlink {
  font-size: large;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.navlink-link {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  flex-direction: row;
  margin-right: 30px;
  list-style: none;
}

.navlink-link p {
  margin: 10px;
}

.hero {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 844px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #F1F1F1;
  margin-left: 300px;
  margin-top: 30px;
}

.hero-drop {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.hero-dro {
  display: flex;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin: 14px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.last {
  margin-left: 40px;
  margin-top: 30px;
}

.date {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.hero-text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.dropdown-options {
  width: 240px;
  height: 152px;
  flex-shrink: 0;
  position: absolute;
  margin-top: 270px;
  border: 1px solid;
  stroke: #BFBFBF;
  background-color: #BFBFBF;
  color: #000;
  text-align: center;
  font-family: Inter;
  border-radius: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  left: 820px;
  border: 10px;
}
.dropdown-options :first-child {
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 10px 10px 0px 0px;
}
.dropdown-options :last-child {
  border-radius: 0px 0px 10px 10px;
}

.option {
  padding: 10px;
  border: 1px solid;
  background-color: white;
}

.footer-style {
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  height: 489px;
  border-top: 1px solid #E5E5E5;
  background: #486349;
}

.followText {
  color: #FFF;
  font-family: Libre Baskerville;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 69px;
}

.rectangel {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
  background-color: #E5E5E5;
  width: 549px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 20px;
  margin-left: 114px;
}

.Subscribe {
  color: rgba(0, 0, 0, 0.8);
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
}

.space {
  font-size: 50px;
  font-weight: bold;
  padding-left: 180px;
}

.email {
  padding-top: 20px;
  padding-left: 60px;
}

.conect-icon {
  display: flex;
  flex-direction: column;
  padding: 30px;
  list-style: none;
}

.conetcIcon {
  margin-top: 105px;
}

.contactUs {
  color: #FFF;
  font-family: Libre Baskerville;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.27px;
  margin-top: 69px;
}

.conect-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #FFF;
  font-family: Lora;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.225px;
  margin-top: -40px;
}

.contact {
  display: flex;
}

.logoName {
  color: #CBB26A;
  font-family: Lora;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.225px;
}

.logo {
  width: 350px;
  margin-left: 150px;
  margin-top: 0px;
}

.footer-text {
  color: #CBB26A;
  font-family: Lora;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.225px;
  margin-left: 160px;
  margin-top: 30px;
}

.socialIcon {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.social-part-text {
  color: #FFF;
  font-family: Libre Baskerville;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.27px;
  margin: 73px 55px 20px 55px;
}

.Icon {
  margin-right: 40px;
}

.slider {
  position: relative;
  text-align: center;
}

.slide {
  display: inline-block;
  position: relative;
}

.slide img {
  display: block;
  margin: 0 auto;
  width: 1105px;
  height: 453px;
}

.next-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0px 0px 190px 520px;
  transform: translateX(-50%);
  border: none;
}

.before-button {
  position: absolute;
  bottom: 10px;
  right: 95%;
  margin: 0px 0px 190px 40px;
}

.slide-text {
  color: #000;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 119px 550px 64px 530px;
}

@media (max-width: 390px) {
  .next-button {
    background-color: aqua;
    border: none;
  }
  .before-button {
    position: absolute;
  }
  .slide-text {
    color: #000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.review-text {
  color: #000;
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 130px 369px 58px 371px;
}

.review {
  display: flex;
  justify-content: space-around;
  margin: 0px 166px 164px 169px;
}

.Img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 12px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.review-estimonial {
  width: 300px;
  height: 330px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FCFCFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 0px 20px;
}

.star {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.review-name {
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.24px;
  padding-top: 10px;
}

text {
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.24px;
}

.re-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

@media (max-width: 390px) {
  .review-text {
    color: #000;
    text-align: center;
    font-family: Libre Baskerville;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .review {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  .Img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 12px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
  }
  .re-img {
    height: 100px;
    flex-shrink: 0;
  }
}
.navbar {
  width: 1440px;
  height: 116px;
  flex-shrink: 0;
  background: #486349;
}

.navbar-link {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 42px;
  align-items: center;
  color: #CBB26A;
  font-family: Libre Baskerville;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.3px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 116px;
  flex-shrink: 0;
  background: #486349;
  align-items: center;
}

.navbar-link ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.navbar-link li {
  margin-right: 40px;
}

.navbar-icon {
  display: flex;
  align-items: center;
}

.navbar-icon svg {
  width: 40px;
  height: 40px;
  fill: #CBB26A;
}

@media (max-width: 390px) {
  .navbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    /* Ändra till kolumnlayout */
    padding: 10px;
    /* Lägg till utrymme mellan elementen */
    height: 90px;
  }
  .navbar-link {
    padding: 10px;
    text-align: center;
    /* Centrera texten */
  }
  .navbar-link ul {
    flex-direction: column;
    /* Ändra till kolumnlayout */
  }
  .navbar-link li {
    margin-right: 0;
    /* Ta bort marginalen mellan länkarna */
    margin-bottom: 10px;
    /* Lägg till utrymme mellan länkarna */
  }
  .navbar-icon svg {
    width: 30px;
    /* Minska ikonstorleken */
    height: 30px;
    height: 85.469px;
  }
}
.list {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 300px;
  flex-shrink: 0;
  margin: 52px 122px 13px 118px;
  border-radius: 10px;
  box-shadow: 1px 5px gainsboro;
}

.card-one {
  display: flex;
}
.card-one img {
  width: 330px;
  height: 300px;
  border-radius: 15px 0px 0px 15px;
  position: relative;
}
.card-one p {
  background-color: aliceblue;
  border-radius: 20px;
  margin: 39px 20px 226px 210px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  width: 100px;
  height: 35px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 250px;
}
.card-two div {
  display: flex;
  padding: 2px;
  margin-bottom: 15px;
}

.price {
  width: 190px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 20px;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 5px 5px 5px 5px gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.cainName {
  color: #000;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #000;
  font-family: Lora;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.grades {
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-three {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-three button {
  display: flex;
  width: 180px;
  height: 52px;
  padding: 11px 38px 10px 35px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #D8C690;
  border: none;
  border-radius: 15px;
  color: #000;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 59px;
  text-decoration: none;
}
.card-three div {
  margin-left: 60px;
  margin-bottom: 30px;
}

@media (max-width: 390px) {
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 1px 5px gainsboro;
  }
}
.detail-img {
  width: 1120px;
  height: 840px;
  flex-shrink: 0;
  margin: 41px 175px 10px 145px;
}

.img-carosel {
  width: 223px;
  height: 155px;
  flex-shrink: 0;
}

/* i din CSS-fil */
/* i din CSS-fil */
.image-carousel-container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  /* Anpassa bredden efter dina behov */
  margin: 0 auto;
}

.carousel-wrapper {
  transition: transform 0.3s ease-in-out;
}

.carousel-image {
  width: 25%;
}

.carousel.slide {
  margin: 0;
  position: relative;
  text-align: center;
  background-color: red;
}

.slide-selected {
  background-color: red;
}

@media (max-width: 390px) {
  .image-carousel-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    /* Anpassa bredden efter dina behov */
    margin: 0 auto;
  }
  .image-carousel-container img {
    max-width: 100%;
    height: auto;
  }
  .detail-img {
    width: 100%;
    height: 340px;
  }
}
.detail-facilities-text {
  color: #000;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 272px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  margin-left: 266px;
  margin-top: 70px;
}

.common-icon {
  display: flex;
}
.common-icon p {
  padding: 20px;
}

.icon-list-row {
  display: flex;
}

.row-one-list {
  padding: 15px;
  margin-left: 266px;
}

.listing {
  display: flex;
}

.description-text {
  padding: 5px;
  display: flex;
}
.description-text div {
  padding-right: 15px;
  color: #000;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description-icon {
  padding-left: 15px;
}

.icluded-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  padding: 10px;
}

.included {
  padding: 10px;
  text-align: center;
  margin-left: 260px;
  color: #000;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}
.included svg {
  padding-right: 10px;
}

.included-text {
  margin: 25px 0px 30px 270px;
  color: #000;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reserv-text {
  padding: 20px;
}
.reserv-text div {
  display: flex;
  justify-content: space-around;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.reserv-text svg {
  margin-left: 15px;
}

.reserv-price {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rectangle-reserv {
  border: 1px solid;
  box-shadow: 5px 5px 5px 5px rgb(223, 218, 218);
  width: 399px;
  height: 259px;
  flex-shrink: 0;
  float: right;
  margin-top: 10px;
  margin: 11px 60px 0px 50px;
  border-radius: 20px;
  border: none;
}
.rectangle-reserv p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.rectangle-reserv button {
  display: flex;
  width: 321.698px;
  height: 54.466px;
  padding: 11px 114.698px 12.466px 106px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 15px;
  background: #D8C690;
  border: none;
  margin-left: 45px;
  color: #000;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.detail-part-two {
  float: left;
}

@media (max-width: 390px) {
  .icon-list {
    display: flex;
    flex-direction: row;
  }
  .part-one {
    margin: 0px;
    padding: 0%;
  }
  .rectangle-reserv {
    border: 1px solid;
    box-shadow: 5px 5px 5px rgb(223, 218, 218);
    border-radius: 20px;
    width: 390px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 390px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    height: 115px;
  }
  .rectangle-reserv button {
    width: 141px;
    height: 43px;
    margin-right: 90px;
  }
  .rectangle-reserv .reserv-text {
    text-align: center;
    border: 1px solid;
    padding: 5px;
    width: 128px;
    height: 82px;
    flex-shrink: 0;
    float: left;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-reserv .reserv-price {
    float: right;
  }
  .rectangle-reserv .icluded-container {
    padding: 10px;
  }
  .row-one-list {
    padding: 10px;
    margin: 0px;
  }
  .included {
    color: #000;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
  }
  .common-icon {
    padding: 5px;
  }
  .description-text {
    padding: 2px;
  }
  .included-text {
    color: #000;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.booking-information h3 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 40px 0px 0px 100px;
}

.info {
  margin: 28px 50px 0px 90px;
  background-color: #F0F0F0;
  width: 1266px;
  height: 1962px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F0F0F0;
}
.info p {
  padding: 20px;
}

.baner {
  width: 1266px;
  height: 110px;
  left: 87px;
  top: 184px;
  background-color: #486349;
  border-radius: 10px;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.baner p {
  padding: 40px 0px 0px 60px;
}

.booking-container {
  display: flex;
  justify-content: space-around;
  padding: 70px;
}

.line {
  width: 1156px;
  height: 1px;
}

.btn-btn-submit {
  display: flex;
  width: 287px;
  height: 52px;
  padding: 11px 50px 10px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background: #D8C690;
  margin-top: 350px;
  margin-left: 60%;
  border: none;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.pay-metod {
  display: flex;
  flex-direction: column;
}
.pay-metod img {
  padding: 10px;
}

.input-form input {
  width: 500px;
  height: 41px;
  background-color: #E5E5E5;
  border: none;
  margin: 20px;
}
.input-form label {
  display: block;
  margin-left: 20px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
}

.general-text {
  color: #000;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=styles.css.map */