@import "homeIconPackages";
@import "homePackages";
@import "nav";
@import "footer";
@import "homeSlideImg";
@import "homeReview";
@import "navbar";
@import "_cabinListing";
@import "./Detailstyle/ImageDetailCabin";
@import "./Detailstyle/IconDetail";
@import "./Detailstyle/reviews";
@import "./BookingPageStyle/bookingInformation";
@import "./BookingPageStyle/useRegister";
@import "./BookingPageStyle/paymentConfirmation";
@import "login";
* {
    margin: 0;
    padding: 0;
}

.general-text {
    color: #000;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btn-btn{
    text-decoration: none;
    
}