/* General Styling */
.detail-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-top: solid 1px grey;
    padding-top: 30px;
}

/* Facilities Heading */
.detail-facilities-text {
    color: #000;
    font-family: Lora, serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

/* Facilities List */
.facilities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Individual Facility Item */
.facility-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Facility Description */
.facility {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.facility p {
    margin-top: 0.5rem;
    font-family: Lora, serif;
    font-size: 16px;
}

/* Additional Facilities */
.additional-facilities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Included Items */
.included-container {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: solid 1px grey;
    padding: 10px;

    
}

.included-text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 20px;
}

.included-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0.5rem 0;
    font-size: 20px;
}

/* Reservation Container */
.reservation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 10px;
}

.reservation-info {
    flex: 1;
    text-align: center;
    font-size: 20px;
    p{
        padding: 10px;
    }
    
}

.reserve-button {
    background: #D8C690;
    color: #000;
    font-family: Lora, serif;
    font-size: 18px;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}
.review{
    padding-top: 40px;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .detail-facilities-text {
        font-size: 20px;
    }

    .reserve-button {
        font-size: 16
    }
}