.detail-facilities-text {
    color: #000;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 272px;
    margin-top: 100px;
}

.part-one {
    float: left;
}

.icon-list {
    display: flex;
    flex-direction: row;
    margin-left: 280px;
    margin-top: 70px;
    padding: 15px;
}

.common-icon {
    display: flex;

    p {
        padding: 40px;
    }
}

.icon-list-row {
    display: flex;
}

.row-one-list {
    padding: 15px;
    margin-left: 266px;
}

.listing {
    display: flex;
}

.description-text {
    padding: 5px;
    display: flex;

    div {
        padding-right: 15px;
        color: #000;
        font-family: Lora;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.description-icon {
    padding-left: 15px;
}

.icluded-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding: 10px;
    float: left;
}

.included {
    padding: 10px;
    text-align: center;
    margin-left: 260px;
    margin-top: 30px;
    color: #000;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;

    svg {
        padding-right: 10px;
    }
}

.included-text {
    margin: 5px 50px 50px 250px;
    color: #000;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    float: left;
}

.reserv-text {

    padding: 20px;

    div {
        display: flex;
        justify-content: space-around;
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    svg {
        margin-left: 15px;
    }
}

.reserv-price {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rectangle-reserv {
    border: 1px solid;
    box-shadow: 5px 5px 5px 5px rgb(223, 218, 218);
    width: 390px;
    height: 259px;
    flex-shrink: 0;
    float: right;
    margin-right: 100px;
    border-radius: 20px;
    border: none;
    margin-bottom: 300px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    button {
        display: flex;
        width: 321.698px;
        height: 54.466px;
        padding: 11px 114.698px 12.466px 106px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 15px;
        background: #D8C690;
        border: none;
        // margin: 10px 9px 0px 42px;
        // margin-top: 50px;
        margin-left: 45px;
        color: #000;
        font-family: Lora;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

@media (max-width: 390px) {
    .icon-list {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-top: 50px;
        padding: 0px;
    }

    .detail-part-two {
        float: left;
        margin-left: 10px;
    }

    .part-one {
        margin: 0px;
        padding: 0%;
    }

    .detail-facilities-text {
        color: #000;
        font-family: Lora;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 20px;
    }

    .rectangle-reserv {
        border: 1px solid;
        box-shadow: 5px 5px 5px rgb(223, 218, 218);
        border-radius: 0px;
        border: none;
        width: 390px;
        position: fixed;
        margin-bottom: 0px;
        bottom: 0;
        left: 0;
        width: 390px;
        background-color: #E9E9E9;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        height: 115px;


        button {
            display: flex;
            width: 140px;
            height: 43px;
            padding: 11px 11px 12px 10px;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 15px;
            background: #D8C690;
            border: none;
            float: right;
            margin-top: 0px;
            margin: 0px 20px 30px 2px;
            color: #000;
            font-family: Lora;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            list-style: none;

        }

        .reserv-text {
            border: 1px solid;
            padding: 5px;
            width: 128px;
            height: 82px;
            flex-shrink: 0;
            float: left;
            border-radius: 20px;
            background: white;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin: 10px 20px 10px 20px;
            border: none;

            p {
                font-size: 9px;
            }

            svg {
                margin-bottom: 2px;
                margin-left: 10px;
                width: 45px;
            }

            .persons {
                margin-top: 10px;
                font-size: 12px;
            }
        }

        .reserv-price {
            float: right;
            margin-right: 80px;
            color: #000;
            font-family: Lora;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .total-price {
            display: none;
        }

        p {
            display: grid;
            grid-template-columns: repeat(1, 50px);
            gap: 0px;
            padding: 5px;
        }
    }

    .icluded-container {
        display: flex;
        flex-direction: column;
        padding: 1px;
        margin-right: 10px;
    }

    .row-one-list {
        padding: 10px;
        margin: 0px;
    }

    li.included {
        margin: 0;
    }

    p.included-text {
        margin: 10px;
    }

    .included {
        color: #000;
        font-family: Lora;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        list-style: none;
    }

    .common-icon {
        padding: 0px;
        margin-left: 25px;
        margin-right: 20px;

        p {
            margin-left: 25px;
            margin-top: 10px;
            font-size: 14px;
            padding: 25px;
        }

        div {
            margin-top: 15px;
            width: 10px;
        }
    }

    .description-text {
        padding: 2px;
    }

    .included-text {
        color: #000;
        font-family: Lora;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

}